@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); 
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); 
    font-weight: 700;
}

@font-face {
    font-family: "Roboto 900";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
}