.advantages {
    & .container {
        position: relative;
    }
    &__first-wave {
        height: 569px;
        padding-top: 64px;
        background-image: url(../img/first-wave.png);
    }
    &__second-wave {
        height: 515px;
        padding-top: 55px;
        background-image: url(../img/second-wave.png);
    }
    &__third-wave {
        height: 460px;
        padding-top: 196px;
        background-image: url(../img/third-wave.png);
    }
    &__items {
        margin-left: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    @media all and (max-width: 1326px) {
        &__items {
            justify-content: center;
            margin-left: 0;
        }
    }
    @media all and (max-width: 858px) {
        &__items {
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }
    }
    &__high-performance {
        display: flex;
        &-image {
            width: 89px;
            height: 115px;
            background-image: url(../img/high-performance.png);
        }
        &-right-side {
            width: 242px;
            margin-left: 40px;
        }
        &-title {
            font-family: "Roboto Bold";
            font-size: 16px;
            line-height: 19px;
            color: #E4E8F3;
        }
        &-description {
            margin-top: 10px;
            font-family: "Roboto";
            font-size: 16px;
            line-height: 19px;
            color: #E4E8F3;
        }
    }
    &__reliability {
        display: flex;
        margin-left: 62px;
        &-image {
            width: 98px;
            height: 104px;
            background-image: url(../img/reliability.png);
        }
        &-right-side {
            width: 288px;
            margin-left: 40px;
        }
        &-title {
            font-family: "Roboto Bold";
            font-size: 16px;
            line-height: 19px;
            color: #E4E8F3;
        }
        &-description {
            margin-top: 10px;
            font-family: "Roboto";
            font-size: 16px;
            line-height: 19px;
            color: #E4E8F3;
        }
    }
    @media all and (max-width: 858px) {
        &__reliability {
            margin-left: 37px;
            margin-top: 30px;
        }
    }
    &__security {
        display: flex;
        margin-left: 77px;
        &-image {
            width: 84px;
            height: 98px;
            background-image: url(../img/security.png);
        }
        &-right-side {
            width: 242px;
            margin-left: 40px;
        }
        &-title {
            font-family: "Roboto Bold";
            font-size: 16px;
            line-height: 19px;
            color: #E4E8F3;
        }
        &-description {
            margin-top: 10px;
            font-family: "Roboto";
            font-size: 16px;
            line-height: 19px;
            color: #E4E8F3;
        }
    }
    @media all and (max-width: 858px) {
        &__security {
            margin-left: 3px;
            margin-top: 30px;
        }
    }
    @media all and (max-width: 500px) {
        &__high-performance {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__reliability {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__security {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    @media all and (max-width: 435px) {
        &__high-performance {
            &-right-side {
                width: 100%;
            }
        }
        &__reliability {
            margin-left: 0;
            &-right-side {
                width: 100%;
                
            }
        }
        &__security {
            &-right-side {
                width: 100%;
            }
        }
    }
}