.navbar {
    height: 386px;
    width: 100%;
    background: linear-gradient(180deg, #234158 0%, rgba(0, 255, 255, 0) 100%);
    // opacity: 0.1;
    &__burger {
        display: none;
        position: relative;
        width: 30px;
        height: 20px;
    }
    &__burger:before,
    &__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    &__burger:before {
        top: 0;
    }
    &__burger:after {
        bottom: 0;
    }
    &__burger span {
        position: absolute;
        left: 0;
        background-color: white;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    @media all and (max-width: 1270px) {
        &__burger {
            display: block;
        }
    }
    &__items {
        margin-left: 25px;
        list-style-type: none;
        display: flex;
        align-items: center;
        padding-top: 40px;
        &--1 {
            padding-left: 40px;
            padding-right: 40px;
        }
        &--2 {
            padding-top: 0;
            margin-left: 0;
        }
    }
    @media all and (max-width: 1270px) {
        &__items {
            padding-left: 20px;
            padding-right: 20px;
            justify-content: space-between;
            &--2 {
                padding-top: 20px;
                padding-bottom: 20px;
                flex-direction: column;
                position: absolute;
                top: 100px;
                left: 0;
                width: 100%;
                height: 100%;
                background: grey;
                display: none;
            }
            &--2.active {
                display: flex;
            }
        }
    }
    &__item {
        font-family: "Roboto Bold";
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #E4E8F3;
        &--1 {

        }
        &--2 {
            margin-left: 202px;
        }
        &--3 {
            margin-left: 60px;
        }
        &--4 {
            margin-left: 60px;
        }
        &--5 {
            margin-left: 116px;
            padding: 13px 67px;
            border: 1px solid #E4E8F3;
            border-radius: 5px;
        }
        &--6 {
            margin-left: 45px;
        }
    }
    @media all and (max-width: 1270px){
        &__item {
            &--2, &--3, &--4, &--5 {
                margin-left: 0;
            }
        }
    }
    &__logo {
        display: inline-block;
        width: 128px;
        height: 40px;
        background-repeat: no-repeat;
        background-image: url(../img/navbar__logo.svg);
        opacity: 1;
        color: white;
    }
}

